In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\Kaggle\orders.csv",na_values=['Not Available','unknown'])

In [3]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,3/1/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,8/15/2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,1/10/2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,6/18/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,7/13/2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2/18/2023,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,3/17/2023,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,8/7/2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,11/19/2022,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,7/17/2022,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [4]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
df.columns.str.lower()

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [7]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [8]:
df['discount']= df['list_price']*df['discount_percent']/100
df['discount']

0        5.2
1       21.9
2        0.5
3       19.2
4        1.0
        ...
9989     1.2
9990     3.6
9991     5.2
9992     0.9
9993     7.2
Name: discount, Length: 9994, dtype: float64

In [9]:
df['sale_price']=df['list_price']-df['discount']
df['total_revenue'] = df['sale_price']*df['quantity']

In [10]:
df['sale_price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: sale_price, Length: 9994, dtype: float64

In [11]:
df['total_revenue']

0        509.6
1       2124.3
2         19.0
3       4704.0
4         38.0
         ...
9989      86.4
9990     172.8
9991     509.6
9992     116.4
9993     465.6
Name: total_revenue, Length: 9994, dtype: float64

In [12]:
df['sale_price']

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: sale_price, Length: 9994, dtype: float64

In [13]:
df['total_cost']= df['cost_price']*df['quantity']
df['total_cost']

0        480
1       1800
2         20
3       3900
4         40
        ...
9989      90
9990     140
9991     440
9992     120
9993     420
Name: total_cost, Length: 9994, dtype: int64

In [14]:
df['profit']= df['total_revenue']-df['total_cost']

In [15]:
df['profit']

0        29.6
1       324.3
2        -1.0
3       804.0
4        -2.0
        ...
9989     -3.6
9990     32.8
9991     69.6
9992     -3.6
9993     45.6
Name: profit, Length: 9994, dtype: float64

In [16]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
total_revenue       float64
total_cost            int64
profit              float64
dtype: object

In [17]:
#convert order date from object data type to date time
pd.to_datetime(df['order_date'],format = "%m/%d/%Y")
df['order_date'] = pd.to_datetime(df['order_date'],format ="%m/%d/%Y")

In [25]:
#dropping unwanted columns
df.drop(columns = ['list_price','cost_price','discount_percent'],inplace=True)

In [26]:
df.dtypes

order_id                  int64
order_date       datetime64[ns]
ship_mode                object
segment                  object
country                  object
city                     object
state                    object
postal_code               int64
region                   object
category                 object
sub_category             object
product_id               object
quantity                  int64
discount                float64
sale_price              float64
total_revenue           float64
total_cost                int64
profit                  float64
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9994 non-null   int64
 1   order_date     9994 non-null   datetime64[ns]
 2   ship_mode      9988 non-null   object
 3   segment        9994 non-null   object
 4   country        9994 non-null   object
 5   city           9994 non-null   object
 6   state          9994 non-null   object
 7   postal_code    9994 non-null   int64
 8   region         9994 non-null   object
 9   category       9994 non-null   object
 10  sub_category   9994 non-null   object
 11  product_id     9994 non-null   object
 12  quantity       9994 non-null   int64
 13  discount       9994 non-null   float64
 14  sale_price     9994 non-null   float64
 15  total_revenue  9994 non-null   float64
 16  total_cost     9994 non-null   int64
 17  profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 1.4+ MB

In [27]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in e:\anaconda\lib\site-packages (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\anaconda\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda\lib\site-packages (from sqlalchemy) (2.0.1)

In [28]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in e:\anaconda\lib\site-packages (1.1.1)

In [39]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [40]:
engine = create_engine('mysql+pymysql://root:1709@localhost:3306/customer_segment')

In [41]:
conn = engine.connect()

In [42]:
#pip3 install mysqlclient

In [43]:
import pandas as pd
import pymysql

In [44]:
#df['total_revenue'] = df['total_revenue'].clip(upper=99999.99)

In [45]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,total_revenue,total_cost,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,509.6,480,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,2124.3,1800,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,19.0,20,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,4704.0,3900,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,38.0,40,-2.0

In [52]:
#df = pd.read_sql_query("select * from orders",conn)
#df.to_sql("orders",con = conn, index = False, if_exists = 'append')
try:
    df.to_sql("orders", con=conn, index=False, if_exists='append')
except Exception as e:
    print(f"An error occurred: {e}")
else:
    # Code to run if no exception occurs
    print("The operation was successful:")
# Optionally: Log or handle the row that caused the error

The operation was successful:

In [53]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'total_revenue',
       'total_cost', 'profit'],
      dtype='object')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9994 non-null   int64
 1   order_date     9994 non-null   datetime64[ns]
 2   ship_mode      9988 non-null   object
 3   segment        9994 non-null   object
 4   country        9994 non-null   object
 5   city           9994 non-null   object
 6   state          9994 non-null   object
 7   postal_code    9994 non-null   int64
 8   region         9994 non-null   object
 9   category       9994 non-null   object
 10  sub_category   9994 non-null   object
 11  product_id     9994 non-null   object
 12  quantity       9994 non-null   int64
 13  discount       9994 non-null   float64
 14  sale_price     9994 non-null   float64
 15  total_revenue  9994 non-null   float64
 16  total_cost     9994 non-null   int64
 17  profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 1.4+ MB

In [ ]:
# ANALYSIS 1 - find top 10 highest revenue generating products.
# ANALYSIS 2 - find top 5 highest selling products in each region.
#ANALYSIS 3 - find month over month growth comparison for 2022 and 2023 sales. eg. jan 2022 to jan 2023.
# ANALYSIS 4 - for each category which month had highest sales.
#ANALYSIS 5- which sub category had highest growth by percentage of profit in 2023 compare to 2022.

In [ ]:
#  I did the needed data cleaning and data validation in python using pandas and numpy. 
# After cleaning the file I used some lower_str function and calculated some relevent columns which might help in analysis.
# created column like total_revenue ,total_profit and total_cost.
# as further analysis needed to be done in mysql so I connected sql to pandas installing sqlalcheny and creating engine.
# for above 5 analysis I have used mysql so for further analysis please go through with sql file.